* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    padding: 2em;
}

.sidebar,
.content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.4em #00000029,
                0 0.2em 0.4em #0000003B;
}

/* Sidebar */

.sidebar {
    width: 16em;
    margin-right: 1.5em;
    padding: 1em;
    background-color: #FCFAF8;
    overflow-x: hidden;
}

.sidebar h1 {
    text-align: center;
    color: #DC4C3E;
}

.sidebar > button,
.sidebar div:last-of-type button {
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1.2em;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    background-color: #FCFAF8;
    overflow-wrap: break-word;
}

.sidebar div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar div div button:last-of-type {
    display: flex;
    justify-content: end;
    width: 2.5em;
}

.sidebar img {
    width: 100%;
}

.sidebar button:hover,
.sidebar div:last-of-type button:hover {
    background-color: #F2EFED;
    color: #DC4C3E;
}

.sidebar div:last-of-type button:last-of-type:hover {
    background-color: #DC4C3E;
}

.sidebar p {
    padding: 1em 0;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects button {
    border-radius: 0.5em;
    font-size: 1.3em;
    width: 1.5em;
    height: 1.5em;
    border: none;
    cursor: pointer;
    background-color: #FCFAF8;
}

/* Content */

.content {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.content-container {
    width: 50%; 
}

.add-todo {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    font-size: 1.2em;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
}

.add-todo:hover {
    background-color: #FCFAF8;
    color: #DC4C3E;
}

#title {
    margin-bottom: 0.5em;
}

.todo {
    padding: 0.5em 1em;
    border: 1px solid #F2EFED;
    border-radius: 1em;
    margin-bottom: 1em;
}

.todo:hover {
    cursor: pointer;
    background-color: #FCFAF8;
    color: #DC4C3E;
}

.todo div:first-of-type {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.todo div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo div:last-of-type button {
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.todo div:last-of-type button:hover {
    background-color: #DC4C3E;
}

.todo div:last-of-type img {
    width: 1.2em;
}

.todo-description {
    width: 29em;
    white-space: nowrap;
    overflow: hidden;
    color: #888888;
    background: linear-gradient(90deg, #888888 80%, #FFFFFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* New Project */

.new-project {
    position: absolute;
    top: 20%;
    padding: 1em;
    margin: auto;
    width: 30%;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.4em #00000029,
                0 0.2em 0.4em #0000003B;
}

.new-project div {
    display: flex;
    flex-direction: column
}

.new-project p {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.new-project label {
    font-size: 1.1em;
}

#project-title {
    border: 1px solid #F2EFED;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 0.3em;
    outline-color: #DC4C3E;
    font-size: 1.2em;
}

.new-project div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-project div:last-of-type > input {
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    background-color: #FCFAF8;
}

.new-project div:last-of-type > input:hover {
    background-color: #F2EFED;
    color: #DC4C3E;
}

/* New Todo */

.new-todo {
    position: absolute;
    top: 20%;
    padding: 1em;
    margin: auto;
    width: 30%;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.4em #00000029,
                0 0.2em 0.4em #0000003B;
}

.new-todo div:nth-last-child(n+4),
.todo-expand div:nth-last-child(n+4) {
    display: flex;
    flex-direction: column
}

.new-todo p {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.new-todo label,
.todo-expand label {
    font-size: 1.1em;
}

#todo-name,
#todo-description,
#todo-name-expand,
#todo-description-expand {
    border: 1px solid #F2EFED;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 0.3em;
    outline-color: #DC4C3E;
    font-size: 1.2em;
}

#todo-description {
    height: 6em;
}

#todo-date,
#todo-priority,
#todo-date-expand,
#todo-priority-expand {
    margin: 0.5em;
    font-size: 1.1em;
}

.new-todo div:last-of-type > input,
.todo-expand div:last-of-type > input {
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    background-color: #FCFAF8;
}

.new-todo div:last-of-type > input:hover,
.todo-expand div:last-of-type > input:hover {
    background-color: #F2EFED;
    color: #DC4C3E;
}

.todo-expand {
    padding: 1em;
    margin: auto;
    margin-bottom: 1em;
    border: none;
    border: 1px solid #F2EFED;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.4em #00000029,
                0 0.2em 0.4em #0000003B;
}