* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    padding: 2em;
}

.sidebar,
.content {
    height: 100%;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.4em #00000029,
                0 0.2em 0.4em #0000003B;
}

/* Sidebar */

.sidebar {
    width: 15em;
    margin-right: 1.5em;
    padding: 1em;
    background-color: #FCFAF8;
}

.sidebar h1 {
    text-align: center;
}

.sidebar > button {
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1.2em;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    background-color: #FCFAF8;
}

.sidebar button:hover {
    background-color: #F2EFED;
    color: #DC4C3E;
}

.sidebar p {
    padding: 1em 0;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects button {
    border-radius: 0.5em;
    font-size: 1.3em;
    width: 1.5em;
    height: 1.5em;
    border: none;
    cursor: pointer;
    background-color: #FCFAF8;
}

/* Content */

.content {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.content-container {
    width: 50%; 
}

.content button {
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1.2em;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
}

.content button:hover {
    background-color: #FCFAF8;
    color: #DC4C3E;
}

#title {
    margin-bottom: 0.5em;
}

/* New Project */

.new-project {
    position: absolute;
    top: 20%;
    padding: 1em;
    margin: auto;
    width: 30%;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.4em #00000029,
                0 0.2em 0.4em #0000003B;
}

.new-project div {
    display: flex;
    flex-direction: column
}

.new-project p {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.new-project label {
    font-size: 1.1em;
}

#project-title {
    border: 1px solid #F2EFED;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 0.3em;
    outline-color: #DC4C3E;
    font-size: 1.2em;
}

.new-project > input {
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    background-color: #FCFAF8;
}

.new-project > input:hover {
    background-color: #F2EFED;
    color: #DC4C3E;
}

/* New Todo */

.new-todo {
    position: absolute;
    top: 20%;
    padding: 1em;
    margin: auto;
    width: 30%;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.4em #00000029,
                0 0.2em 0.4em #0000003B;
}

.new-todo div:nth-last-child(n+4) {
    display: flex;
    flex-direction: column
}

.new-todo p {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.new-todo label {
    font-size: 1.1em;
}

#todo-name,
#todo-description {
    border: 1px solid #F2EFED;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 0.3em;
    outline-color: #DC4C3E;
    font-size: 1.2em;
}

#todo-date,
#todo-priority {
    margin: 0.5em;
    font-size: 1.1em;
}

.new-todo > input {
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    background-color: #FCFAF8;
}

.new-todo > input:hover {
    background-color: #F2EFED;
    color: #DC4C3E;
}